<div class="page-wrapper">
  <!-- Main container start -->
  <div class="main-container">
    <app-sidebar></app-sidebar>

    <!-- App container starts -->
    <div class="app-container">
      <app-header></app-header>

      <!-- App body starts -->
      <div class="app-body">
        <!-- Container starts -->
        <div class="container-fluid">
          <router-outlet />
        </div>
        <!-- Container ends -->
      </div>
      <!-- App body ends -->

      <app-footer></app-footer>
    </div>
    <!-- App container ends -->
  </div>
  <!-- Main container end -->
</div>
