<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header">
        <h1 class="card-title">Danh sách sản phẩm</h1>
        <br />
        <a [routerLink]="['/home/product/create']" class="btn btn-primary" [hidden]="!hasRole(['STOREKEEPER','ADMIN'])"
          ><i class="bi bi-plus-square"></i>&nbsp;&nbsp;Thêm sản phẩm</a
        >
      </div>
      <div class="card-body">
        <div class="border border-dark rounded-3 table-responsive">
          <table class="table table-striped align-middle custom-table m-0">
            <thead>
              <tr class="text-center">
                <th>Xem chi tiết</th>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Mô tả</th>
                <th>Loại</th>
                <th>Đơn vị tính</th>
                <th>Hãng sản xuất</th>
              </tr>
            </thead>
            <tbody class="text-center">
              @for (product of productDTOs; track $index) {
              <tr>
                <td>
                  <a
                    [routerLink]="['/home/product/detail']"
                    [queryParams]="{ productId: product.id }"
                    ><i
                      class="bi bi-info-circle-fill"
                      style="cursor: pointer"
                    ></i
                  ></a>
                </td>
                <td id="productId">{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.productCategory.name }}</td>
                <td>
                  {{ product.unit.name }}
                </td>
                <td>{{ product.brand.name }}</td>
              </tr>
              }@empty {
              <tr>
                <td colspan="7" class="text-center">
                  <b>Hiện không có sản phẩm nào trong hệ thống !</b>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
